<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Questionnaire Form</title>
    <style>
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        select {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .multicolumn {
            column-count: 3;
            column-gap: 20px;
        }


        .interests-code {
            display: flex;
            justify-content: space-between;
        }

        .interests-column {
            flex: 0 0 30%;
        }

        input[type="checkbox"] {
            margin-right: 5px;
        }

        .economical-status {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 10px;
            /* Adjust margin as needed */
        }

        .economical-status label {
            margin-right: 10px;
            /* Adjust spacing between labels */
        }

        .economical-status input[type="radio"] {
            margin-right: 5px;
            /* Adjust spacing between radio buttons and labels */
            /* Optional: If you want to hide default radio button */
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border: 1px solid #ccc;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            outline: none;
            cursor: pointer;
        }

        .economical-status input[type="radio"]:checked {
            background-color: #007bff;
            border-color: #007bff;
            /* Optional: Change color when selected */
        }
    </style>
</head>

<body>
    <h2>Questionnaire Form</h2>
    <form action="/midsubmit" method="post">
        <div style="background-color: rgb(206, 124, 18);">
            <label for="personal_data_name">Name:</label>
            <input type="text" id="personal_data_name" name="personal_data[name]" required>

            <label for="personal_data_age">Age:</label>
            <input type="number" id="personal_data_age" name="personal_data[age]" min="0" required>

            <label for="personal_data_gender">Gender:</label>
            <select id="personal_data_gender" name="personal_data[gender]" required>
                <option value="">Select gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
            </select>
        </div>
        <br><br>
        <div>
            <label style="background-color: antiquewhite;">Interests:</label>
            <div class="interests-code">
                <div class="interests-column">
                    <input type="checkbox" id="programming" name="interests[]" value="Programming">
                    <label for="programming">Programming</label><br>

                    <input type="checkbox" id="graphic_design" name="interests[]" value="Graphic Design">
                    <label for="graphic_design">Graphic Design</label><br>

                    <input type="checkbox" id="digital_marketing" name="interests[]" value="Digital Marketing">
                    <label for="digital_marketing">Digital Marketing</label><br>

                    <input type="checkbox" id="photography" name="interests[]" value="Photography">
                    <label for="photography">Photography</label><br>

                    <input type="checkbox" id="writing" name="interests[]" value="Writing">
                    <label for="writing">Writing</label><br>

                    <input type="checkbox" id="public_speaking" name="interests[]" value="Public Speaking">
                    <label for="public_speaking">Public Speaking</label><br>

                    <input type="checkbox" id="teaching" name="interests[]" value="Teaching">
                    <label for="teaching">Teaching</label><br>

                    <input type="checkbox" id="music" name="interests[]" value="Music">
                    <label for="music">Music</label><br>

                    <input type="checkbox" id="sports" name="interests[]" value="Sports">
                    <label for="sports">Sports</label><br>

                    <input type="checkbox" id="cooking" name="interests[]" value="Cooking">
                    <label for="cooking">Cooking</label><br>

                    <input type="checkbox" id="gardening" name="interests[]" value="Gardening">
                    <label for="gardening">Gardening</label><br>
                </div>
                <div class="interests-column">
                    <input type="checkbox" id="travel" name="interests[]" value="Travel">
                    <label for="travel">Travel</label><br>

                    <input type="checkbox" id="fashion" name="interests[]" value="Fashion">
                    <label for="fashion">Fashion</label><br>

                    <input type="checkbox" id="fitness_training" name="interests[]" value="Fitness Training">
                    <label for="fitness_training">Fitness Training</label><br>

                    <input type="checkbox" id="video_editing" name="interests[]" value="Video Editing">
                    <label for="video_editing">Video Editing</label><br>

                    <input type="checkbox" id="acting" name="interests[]" value="Acting">
                    <label for="acting">Acting</label><br>

                    <input type="checkbox" id="event_planning" name="interests[]" value="Event Planning">
                    <label for="event_planning">Event Planning</label><br>

                    <input type="checkbox" id="robotics" name="interests[]" value="Robotics">
                    <label for="robotics">Robotics</label><br>

                    <input type="checkbox" id="mathematics" name="interests[]" value="Mathematics">
                    <label for="mathematics">Mathematics</label><br>

                    <input type="checkbox" id="chemistry" name="interests[]" value="Chemistry">
                    <label for="chemistry">Chemistry</label><br>

                    <input type="checkbox" id="physics" name="interests[]" value="Physics">
                    <label for="physics">Physics</label><br>
                </div>
                <div class="interests-column">
                    <input type="checkbox" id="astronomy" name="interests[]" value="Astronomy">
                    <label for="astronomy">Astronomy</label><br>

                    <input type="checkbox" id="biology" name="interests[]" value="Biology">
                    <label for="biology">Biology</label><br>

                    <input type="checkbox" id="history" name="interests[]" value="History">
                    <label for="history">History</label><br>

                    <input type="checkbox" id="geography" name="interests[]" value="Geography">
                    <label for="geography">Geography</label><br>

                    <input type="checkbox" id="economics" name="interests[]" value="Economics">
                    <label for="economics">Economics</label><br>

                    <input type="checkbox" id="psychology" name="interests[]" value="Psychology">
                    <label for="psychology">Psychology</label><br>

                    <input type="checkbox" id="sociology" name="interests[]" value="Sociology">
                    <label for="sociology">Sociology</label><br>

                    <input type="checkbox" id="anthropology" name="interests[]" value="Anthropology">
                    <label for="anthropology">Anthropology</label><br>

                    <input type="checkbox" id="philosophy" name="interests[]" value="Philosophy">
                    <label for="philosophy">Philosophy</label><br>

                    <input type="checkbox" id="architecture" name="interests[]" value="Architecture">
                    <label for="architecture">Architecture</label><br>
                </div>
            </div>
        </div>
        <br><br>
        <div>
            <label style="background-color: antiquewhite;">Skills (select multiple):</label>
            <div class="multicolumn">
                <div class="column">
                    <!-- Skills 1-20 -->
                    <div>
                        <input type="checkbox" id="skills1" name="skill[]" value="Algorithm Design">
                        <label for="skills1">Algorithm Design</label>
                        <input type="number" id="skills1_level" name="skills[Algorithm Design]" placeholder="Level"
                            min="1" max="10">
                    </div>

                    <!-- Skill 2 -->
                    -

                    <!-- Skill 3 -->
                    <div>
                        <input type="checkbox" id="skills3" name="skill[]" value="Debugging">
                        <label for="skills3">Debugging</label>
                        <input type="number" id="skills3_level" name="skills[Debugging]" placeholder="Level" min="1"
                            max="10">
                    </div>

                    <!-- Add more skills following the same pattern -->
                    <div>
                        <input type="checkbox" id="skills4" name="skill[]" value="Data Structures">
                        <label for="skills4">Data Structures</label>
                        <input type="number" id="skills4_level" name="skills[Data Structures]" placeholder="Level"
                            min="1" max="10">
                    </div>

                    <!-- Skill 5 -->
                    <div>
                        <input type="checkbox" id="skills5" name="skill[]" value="Object-Oriented Programming">
                        <label for="skills5">Object-Oriented Programming</label>
                        <input type="number" id="skills5_level" name="skills[Object-Oriented Programming]"
                            placeholder="Level" min="1" max="10">
                    </div>

                    <!-- Skill 6 -->
                    <div>
                        <input type="checkbox" id="skills6" name="skill[]" value="Adobe Photoshop">
                        <label for="skills6">Adobe Photoshop</label>
                        <input type="number" id="skills6_level" name="skills[Adobe Photoshop]" placeholder="Level"
                            min="1" max="10">
                    </div>

                    <!-- Skill 7 -->
                    <div>
                        <input type="checkbox" id="skills7" name="skill[]" value="Illustrator">
                        <label for="skills7">Illustrator</label>
                        <input type="number" id="skills7_level" name="skills[Illustrator]" placeholder="Level" min="1"
                            max="10">
                    </div>

                    <!-- Skill 8 -->
                    <div>
                        <input type="checkbox" id="skills8" name="skill[]" value="Typography">
                        <label for="skills8">Typography</label>
                        <input type="number" id="skills8_level" name="skills[Typography]" placeholder="Level" min="1"
                            max="10">
                    </div>

                    <!-- Skill 9 -->
                    <div>
                        <input type="checkbox" id="skills9" name="skill[]" value="Logo Design">
                        <label for="skills9">Logo Design</label>
                        <input type="number" id="skills9_level" name="skills[Logo Design]" placeholder="Level" min="1"
                            max="10">
                    </div>

                    <!-- Skill 10 -->
                    <div>
                        <input type="checkbox" id="skills10" name="skill[]" value="Print Design">
                        <label for="skills10">Print Design</label>
                        <input type="number" id="skills10_level" name="skills[Print Design]" placeholder="Level" min="1"
                            max="10">
                    </div>

                    <!-- Skill 11 -->
                    <div>
                        <input type="checkbox" id="skills11" name="skill[]" value="SEO (Search Engine Optimization)">
                        <label for="skills11">SEO (Search Engine Optimization)</label>
                        <input type="number" id="skills11_level" name="skills[SEO (Search Engine Optimization)]"
                            placeholder="Level" min="1" max="10">
                    </div>

                    <!-- Skill 12 -->
                    <div>
                        <input type="checkbox" id="skills12" name="skill[]" value="Social Media Marketing">
                        <label for="skills12">Social Media Marketing</label>
                        <input type="number" id="skills12_level" name="skills[Social Media Marketing]"
                            placeholder="Level" min="1" max="10">
                    </div>

                    <!-- Skill 13 -->
                    <div>
                        <input type="checkbox" id="skills13" name="skill[]" value="Content Strategy">
                        <label for="skills13">Content Strategy</label>
                        <input type="number" id="skills13_level" name="skills[Content Strategy]" placeholder="Level"
                            min="1" max="10">
                    </div>

                    <!-- Skill 14 -->
                    <div>
                        <input type="checkbox" id="skills14" name="skill[]" value="PPC Advertising">
                        <label for="skills14">PPC Advertising</label>
                        <input type="number" id="skills14_level" name="skills[PPC Advertising]" placeholder="Level"
                            min="1" max="10">
                    </div>

                    <!-- Skill 15 -->
                    <div>
                        <input type="checkbox" id="skills15" name="skill[]" value="Email Marketing">
                        <label for="skills15">Email Marketing</label>
                        <input type="number" id="skills15_level" name="skills[Email Marketing]" placeholder="Level"
                            min="1" max="10">
                    </div>

                    <!-- Skill 16 -->
                    <div>
                        <input type="checkbox" id="skills16" name="skill[]" value="Lighting Techniques">
                        <label for="skills16">Lighting Techniques</label>
                        <input type="number" id="skills16_level" name="skills[Lighting Techniques]" placeholder="Level"
                            min="1" max="10">
                    </div>

                    <!-- Skill 17 -->
                    <div>
                        <input type="checkbox" id="skills17" name="skill[]" value="Composition">
                        <label for="skills17">Composition</label>
                        <input type="number" id="skills17_level" name="skills[Composition]" placeholder="Level" min="1"
                            max="10">
                    </div>

                    <!-- Skill 18 -->
                    <div>
                        <input type="checkbox" id="skills18" name="skill[]" value="Post-Processing">
                        <label for="skills18">Post-Processing</label>
                        <input type="number" id="skills18_level" name="skills[Post-Processing]" placeholder="Level"
                            min="1" max="10">
                    </div>

                    <!-- Skill 19 -->
                    <div>
                        <input type="checkbox" id="skills19" name="skill[]" value="Portrait Photography">
                        <label for="skills19">Portrait Photography</label>
                        <input type="number" id="skills19_level" name="skills[Portrait Photography]" placeholder="Level"
                            min="1" max="10">
                    </div>

                    <!-- Skill 20 -->
                    <div>
                        <input type="checkbox" id="skills20" name="skill[]" value="Event Photography">
                        <label for="skills20">Event Photography</label>
                        <input type="number" id="skills20_level" name="skills[Event Photography]" placeholder="Level"
                            min="1" max="10">
                    </div>
                </div>
                <div class="column">
                    <!-- Skills 21-40 -->
                    <div>
                        <input type="checkbox" id="skills21" name="skills[]" value="Creative Writing">
                        <label for="skills21">Creative Writing</label>
                        <input type="number" id="skills21_level" name="skills_level[Creative Writing]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills22" name="skills[]" value="Copywriting">
                        <label for="skills22">Copywriting</label>
                        <input type="number" id="skills22_level" name="skills_level[Copywriting]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills23" name="skills[]" value="Editing">
                        <label for="skills23">Editing</label>
                        <input type="number" id="skills23_level" name="skills_level[Editing]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills24" name="skills[]" value="Research">
                        <label for="skills24">Research</label>
                        <input type="number" id="skills24_level" name="skills_level[Research]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills25" name="skills[]" value="Blogging">
                        <label for="skills25">Blogging</label>
                        <input type="number" id="skills25_level" name="skills_level[Blogging]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills26" name="skills[]" value="Presentation Skills">
                        <label for="skills26">Presentation Skills</label>
                        <input type="number" id="skills26_level" name="skills_level[Presentation Skills]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills27" name="skills[]" value="Speech Writing">
                        <label for="skills27">Speech Writing</label>
                        <input type="number" id="skills27_level" name="skills_level[Speech Writing]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills28" name="skills[]" value="Audience Engagement">
                        <label for="skills28">Audience Engagement</label>
                        <input type="number" id="skills28_level" name="skills_level[Audience Engagement]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills29" name="skills[]" value="Storytelling">
                        <label for="skills29">Storytelling</label>
                        <input type="number" id="skills29_level" name="skills_level[Storytelling]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills30" name="skills[]" value="Nonverbal Communication">
                        <label for="skills30">Nonverbal Communication</label>
                        <input type="number" id="skills30_level" name="skills_level[Nonverbal Communication]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills31" name="skills[]" value="Curriculum Development">
                        <label for="skills31">Curriculum Development</label>
                        <input type="number" id="skills31_level" name="skills_level[Curriculum Development]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills32" name="skills[]" value="Classroom Management">
                        <label for="skills32">Classroom Management</label>
                        <input type="number" id="skills32_level" name="skills_level[Classroom Management]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills33" name="skills[]" value="Instructional Design">
                        <label for="skills33">Instructional Design</label>
                        <input type="number" id="skills33_level" name="skills_level[Instructional Design]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills34" name="skills[]" value="Student Assessment">
                        <label for="skills34">Student Assessment</label>
                        <input type="number" id="skills34_level" name="skills_level[Student Assessment]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills35" name="skills[]" value="Educational Technology">
                        <label for="skills35">Educational Technology</label>
                        <input type="number" id="skills35_level" name="skills_level[Educational Technology]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills36" name="skills[]" value="Playing Instruments">
                        <label for="skills36">Playing Instruments</label>
                        <input type="number" id="skills36_level" name="skills_level[Playing Instruments]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills37" name="skills[]" value="Music Theory">
                        <label for="skills37">Music Theory</label>
                        <input type="number" id="skills37_level" name="skills_level[Music Theory]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills38" name="skills[]" value="Composition">
                        <label for="skills38">Composition</label>
                        <input type="number" id="skills38_level" name="skills_level[Composition]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills39" name="skills[]" value="Music Production">
                        <label for="skills39">Music Production</label>
                        <input type="number" id="skills39_level" name="skills_level[Music Production]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills40" name="skills[]" value="Sound Engineering">
                        <label for="skills40">Sound Engineering</label>
                        <input type="number" id="skills40_level" name="skills_level[Sound Engineering]"
                            placeholder="Level" min="1" max="10">
                    </div>
                </div>
                <div class="column">
                    <!-- Skills 41-60 -->
                    <div>
                        <input type="checkbox" id="skills41" name="skills[]" value="Athletic Training">
                        <label for="skills41">Athletic Training</label>
                        <input type="number" id="skills41_level" name="skills_level[Athletic Training]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills42" name="skills[]" value="Sports Psychology">
                        <label for="skills42">Sports Psychology</label>
                        <input type="number" id="skills42_level" name="skills_level[Sports Psychology]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills43" name="skills[]" value="Coaching">
                        <label for="skills43">Coaching</label>
                        <input type="number" id="skills43_level" name="skills_level[Coaching]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills44" name="skills[]" value="Nutrition">
                        <label for="skills44">Nutrition</label>
                        <input type="number" id="skills44_level" name="skills_level[Nutrition]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills45" name="skills[]" value="Physical Therapy">
                        <label for="skills45">Physical Therapy</label>
                        <input type="number" id="skills45_level" name="skills_level[Physical Therapy]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills46" name="skills[]" value="Culinary Techniques">
                        <label for="skills46">Culinary Techniques</label>
                        <input type="number" id="skills46_level" name="skills_level[Culinary Techniques]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills47" name="skills[]" value="Recipe Development">
                        <label for="skills47">Recipe Development</label>
                        <input type="number" id="skills47_level" name="skills_level[Recipe Development]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills48" name="skills[]" value="Food Safety">
                        <label for="skills48">Food Safety</label>
                        <input type="number" id="skills48_level" name="skills_level[Food Safety]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills49" name="skills[]" value="Menu Planning">
                        <label for="skills49">Menu Planning</label>
                        <input type="number" id="skills49_level" name="skills_level[Menu Planning]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills50" name="skills[]" value="Gastronomy">
                        <label for="skills50">Gastronomy</label>
                        <input type="number" id="skills50_level" name="skills_level[Gastronomy]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills51" name="skills[]" value="Plant Care">
                        <label for="skills51">Plant Care</label>
                        <input type="number" id="skills51_level" name="skills_level[Plant Care]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills52" name="skills[]" value="Landscaping Design">
                        <label for="skills52">Landscaping Design</label>
                        <input type="number" id="skills52_level" name="skills_level[Landscaping Design]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills53" name="skills[]" value="Urban Gardening">
                        <label for="skills53">Urban Gardening</label>
                        <input type="number" id="skills53_level" name="skills_level[Urban Gardening]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills54" name="skills[]" value="Botany">
                        <label for="skills54">Botany</label>
                        <input type="number" id="skills54_level" name="skills_level[Botany]" placeholder="Level" min="1"
                            max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills55" name="skills[]" value="Composting">
                        <label for="skills55">Composting</label>
                        <input type="number" id="skills55_level" name="skills_level[Composting]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills56" name="skills[]" value="Travel Planning">
                        <label for="skills56">Travel Planning</label>
                        <input type="number" id="skills56_level" name="skills_level[Travel Planning]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills57" name="skills[]" value="Cultural Awareness">
                        <label for="skills57">Cultural Awareness</label>
                        <input type="number" id="skills57_level" name="skills_level[Cultural Awareness]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills58" name="skills[]" value="Language Skills">
                        <label for="skills58">Language Skills</label>
                        <input type="number" id="skills58_level" name="skills_level[Language Skills]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills59" name="skills[]" value="Budget Traveling">
                        <label for="skills59">Budget Traveling</label>
                        <input type="number" id="skills59_level" name="skills_level[Budget Traveling]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills60" name="skills[]" value="Solo Travel Tips">
                        <label for="skills60">Solo Travel Tips</label>
                        <input type="number" id="skills60_level" name="skills_level[Solo Travel Tips]"
                            placeholder="Level" min="1" max="10">
                    </div>
                </div>
                <div class="column">
                    <!-- Skills 61-80 -->
                    <div>
                        <input type="checkbox" id="skills61" name="skill[]" value="Fashion Design">
                        <label for="skills61">Fashion Design</label>
                        <input type="number" id="skills61_level" name="skills[Fashion Design]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills62" name="skill[]" value="Styling">
                        <label for="skills62">Styling</label>
                        <input type="number" id="skills62_level" name="skills[Styling]" placeholder="Level" min="1"
                            max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills63" name="skill[]" value="Textile Knowledge">
                        <label for="skills63">Textile Knowledge</label>
                        <input type="number" id="skills63_level" name="skills[Textile Knowledge]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills64" name="skill[]" value="Fashion History">
                        <label for="skills64">Fashion History</label>
                        <input type="number" id="skills64_level" name="skills[Fashion History]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills65" name="skill[]" value="Fashion Merchandising">
                        <label for="skills65">Fashion Merchandising</label>
                        <input type="number" id="skills65_level" name="skills[Fashion Merchandising]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills66" name="skill[]" value="Personal Training">
                        <label for="skills66">Personal Training</label>
                        <input type="number" id="skills66_level" name="skills[Personal Training]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills67" name="skill[]" value="Exercise Physiology">
                        <label for="skills67">Exercise Physiology</label>
                        <input type="number" id="skills67_level" name="skills[Exercise Physiology]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills68" name="skill[]" value="Strength Training">
                        <label for="skills68">Strength Training</label>
                        <input type="number" id="skills68_level" name="skills[Strength Training]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills69" name="skill[]" value="Cardiovascular Conditioning">
                        <label for="skills69">Cardiovascular Conditioning</label>
                        <input type="number" id="skills69_level" name="skills[Cardiovascular Conditioning]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills70" name="skill[]" value="Flexibility Training">
                        <label for="skills70">Flexibility Training</label>
                        <input type="number" id="skills70_level" name="skills[Flexibility Training]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills71" name="skill[]" value="Video Production">
                        <label for="skills71">Video Production</label>
                        <input type="number" id="skills71_level" name="skills[Video Production]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills72" name="skill[]"
                            value="Editing Software (e.g., Adobe Premiere)">
                        <label for="skills72">Editing Software (e.g., Adobe Premiere)</label>
                        <input type="number" id="skills72_level" name="skills[Editing Software (e.g., Adobe Premiere)]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills73" name="skill[]" value="Color Correction">
                        <label for="skills73">Color Correction</label>
                        <input type="number" id="skills73_level" name="skills[Color Correction]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills74" name="skill[]" value="Motion Graphics">
                        <label for="skills74">Motion Graphics</label>
                        <input type="number" id="skills74_level" name="skills[Motion Graphics]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills75" name="skill[]" value="Audio Editing">
                        <label for="skills75">Audio Editing</label>
                        <input type="number" id="skills75_level" name="skills[Audio Editing]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills76" name="skill[]" value="Character Development">
                        <label for="skills76">Character Development</label>
                        <input type="number" id="skills76_level" name="skills[Character Development]"
                            placeholder="Level" min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills77" name="skill[]" value="Improvisation">
                        <label for="skills77">Improvisation</label>
                        <input type="number" id="skills77_level" name="skills[Improvisation]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills78" name="skill[]" value="Stage Presence">
                        <label for="skills78">Stage Presence</label>
                        <input type="number" id="skills78_level" name="skills[Stage Presence]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills79" name="skill[]" value="Script Analysis">
                        <label for="skills79">Script Analysis</label>
                        <input type="number" id="skills79_level" name="skills[Script Analysis]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills80" name="skill[]" value="Voice Acting">
                        <label for="skills80">Voice Acting</label>
                        <input type="number" id="skills80_level" name="skills[Voice Acting]" placeholder="Level" min="1"
                            max="10">
                    </div>
                </div>
                <div class="column">
                    <!-- Skills 81-100 -->
                    <div>
                        <input type="checkbox" id="skills81" name="skill[]" value="Event Coordination">
                        <label for="skills81">Event Coordination</label>
                        <input type="number" id="skills81_level" name="skills[Event Coordination]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills82" name="skill[]" value="Vendor Management">
                        <label for="skills82">Vendor Management</label>
                        <input type="number" id="skills82_level" name="skill[Vendor Management]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills83" name="skill[]" value="Budget Management">
                        <label for="skills83">Budget Management</label>
                        <input type="number" id="skills83_level" name="skill[Budget Management]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills84" name="skill[]" value="Logistics">
                        <label for="skills84">Logistics</label>
                        <input type="number" id="skills84_level" name="skill[Logistics]" placeholder="Level" min="1"
                            max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills85" name="skill[]" value="Catering Management">
                        <label for="skills85">Catering Management</label>
                        <input type="number" id="skills85_level" name="skill[Catering Management]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills86" name="skill[]" value="Robot Design">
                        <label for="skills86">Robot Design</label>
                        <input type="number" id="skills86_level" name="skills[Robot Design]" placeholder="Level" min="1"
                            max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills87" name="skill[]" value="Programming Robots">
                        <label for="skills87">Programming Robots</label>
                        <input type="number" id="skills87_level" name="skills[Programming Robots]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills88" name="skill[]" value="Electronics">
                        <label for="skills88">Electronics</label>
                        <input type="number" id="skills88_level" name="skills[Electronics]" placeholder="Level" min="1"
                            max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills89" name="skill[]" value="Mechatronics">
                        <label for="skills89">Mechatronics</label>
                        <input type="number" id="skills89_level" name="skills[Mechatronics]" placeholder="Level" min="1"
                            max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills90" name="skill[]" value="Control Systems">
                        <label for="skills90">Control Systems</label>
                        <input type="number" id="skills90_level" name="skills[Control Systems]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills91" name="skill[]" value="Calculus">
                        <label for="skills91">Calculus</label>
                        <input type="number" id="skills91_level" name="skills[Calculus]" placeholder="Level" min="1"
                            max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills92" name="skill[]" value="Linear Algebra">
                        <label for="skills92">Linear Algebra</label>
                        <input type="number" id="skills92_level" name="skills[Linear Algebra]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills93" name="skill[]" value="Probability Theory">
                        <label for="skills93">Probability Theory</label>
                        <input type="number" id="skills93_level" name="skills[Probability Theory]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills94" name="skill[]" value="Statistics">
                        <label for="skills94">Statistics</label>
                        <input type="number" id="skills94_level" name="skills[Statistics]" placeholder="Level" min="1"
                            max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills95" name="skill[]" value="Number Theory">
                        <label for="skills95">Number Theory</label>
                        <input type="number" id="skills95_level" name="skills[Number Theory]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills96" name="skill[]" value="Organic Chemistry">
                        <label for="skills96">Organic Chemistry</label>
                        <input type="number" id="skills96_level" name="skills[Organic Chemistry]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills97" name="skill[]" value="Analytical Chemistry">
                        <label for="skills97">Analytical Chemistry</label>
                        <input type="number" id="skills97_level" name="skills[Analytical Chemistry]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills98" name="skill[]" value="Physical Chemistry">
                        <label for="skills98">Physical Chemistry</label>
                        <input type="number" id="skills98_level" name="skills[Physical Chemistry]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills99" name="skill[]" value="Inorganic Chemistry">
                        <label for="skills99">Inorganic Chemistry</label>
                        <input type="number" id="skills99_level" name="skills[Inorganic Chemistry]" placeholder="Level"
                            min="1" max="10">
                    </div>
                    <div>
                        <input type="checkbox" id="skills100" name="skill[]" value="Biochemistry">
                        <label for="skills100">Biochemistry</label>
                        <input type="number" id="skills100_level" name="skills[Biochemistry]" placeholder="Level"
                            min="1" max="10">
                    </div>
                </div>
            </div>
        </div>

        <div>
            <label style="background-color: antiquewhite;" for="your_location">Your Location:</label>
            <select id="your_location" name="your_location" required>
                <option value="">Select location</option>
                <option value="Urban">Urban</option>
                <option value="Rural">Rural</option>
                <option value="Metropolitan">Metropolitan</option>
            </select>
        </div>
        <div class="economical-status">
            <label style="background-color: antiquewhite;" for="economical_status">Economical Status
                (P.A):</label><br>
            <input type="radio" id="economical_status1" name="economical_status" value="1">
            <label class="radio-label" for="economical_status1">upto 100000</label>
            <input type="radio" id="economical_status2" name="economical_status" value="2">
            <label class="radio-label" for="economical_status2">100000-300000</label>
            <input type="radio" id="economical_status3" name="economical_status" value="3">
            <label class="radio-label" for="economical_status3">300000-500000</label>
            <input type="radio" id="economical_status4" name="economical_status" value="4">
            <label class="radio-label" for="economical_status4">500000+</label>
        </div>

        <br><br>
        <div>
            <label style="background-color: antiquewhite;" for="subjects">Academic Subjects Scores:</label>
            <div class="subject-row">
                <div class="subject-item">
                    <label for="literature">Literature:</label>
                    <select id="literature" name="subjects[literature]" required>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
                <div class="subject-item">
                    <label for="physics">Physics:</label>
                    <select id="physics" name="subjects[physics]" required>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
                <div class="subject-item">
                    <label for="chemistry">Chemistry:</label>
                    <select id="chemistry" name="subjects[chemistry]" required>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
            <div class="subject-row">
                <div class="subject-item">
                    <label for="mathematics">Mathematics:</label>
                    <select id="mathematics" name="subjects[mathematics]" required>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
                <div class="subject-item">
                    <label for="languages">Languages:</label>
                    <select id="languages" name="subjects[languages]" required>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
                <div class="subject-item">
                    <label for="biology">Biology:</label>
                    <select id="biology" name="subjects[biology]" required>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
                <div class="subject-item">
                    <label for="sports">Sports:</label>
                    <select id="sports" name="subjects[sports]" required>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                    </select>
                </div>
            </div>
        </div>

        <br><br>

        <div>
            <label style="background-color: antiquewhite;" for="peer_interests">Peer Interests:</label>
            <div class="interests-code">
                <div class="interests-column">
                    <input type="checkbox" id="programming" name="interests[]" value="Programming">
                    <label for="programming">Programming</label><br>

                    <input type="checkbox" id="graphic_design" name="interests[]" value="Graphic Design">
                    <label for="graphic_design">Graphic Design</label><br>

                    <input type="checkbox" id="digital_marketing" name="interests[]" value="Digital Marketing">
                    <label for="digital_marketing">Digital Marketing</label><br>

                    <input type="checkbox" id="photography" name="interests[]" value="Photography">
                    <label for="photography">Photography</label><br>

                    <input type="checkbox" id="writing" name="interests[]" value="Writing">
                    <label for="writing">Writing</label><br>

                    <input type="checkbox" id="public_speaking" name="interests[]" value="Public Speaking">
                    <label for="public_speaking">Public Speaking</label><br>

                    <input type="checkbox" id="teaching" name="interests[]" value="Teaching">
                    <label for="teaching">Teaching</label><br>

                    <input type="checkbox" id="music" name="interests[]" value="Music">
                    <label for="music">Music</label><br>

                    <input type="checkbox" id="sports" name="interests[]" value="Sports">
                    <label for="sports">Sports</label><br>

                    <input type="checkbox" id="cooking" name="interests[]" value="Cooking">
                    <label for="cooking">Cooking</label><br>

                    <input type="checkbox" id="gardening" name="interests[]" value="Gardening">
                    <label for="gardening">Gardening</label><br>
                </div>
                <div class="interests-column">
                    <input type="checkbox" id="travel" name="interests[]" value="Travel">
                    <label for="travel">Travel</label><br>

                    <input type="checkbox" id="fashion" name="interests[]" value="Fashion">
                    <label for="fashion">Fashion</label><br>

                    <input type="checkbox" id="fitness_training" name="interests[]" value="Fitness Training">
                    <label for="fitness_training">Fitness Training</label><br>

                    <input type="checkbox" id="video_editing" name="interests[]" value="Video Editing">
                    <label for="video_editing">Video Editing</label><br>

                    <input type="checkbox" id="acting" name="interests[]" value="Acting">
                    <label for="acting">Acting</label><br>

                    <input type="checkbox" id="event_planning" name="interests[]" value="Event Planning">
                    <label for="event_planning">Event Planning</label><br>

                    <input type="checkbox" id="robotics" name="interests[]" value="Robotics">
                    <label for="robotics">Robotics</label><br>

                    <input type="checkbox" id="mathematics" name="interests[]" value="Mathematics">
                    <label for="mathematics">Mathematics</label><br>

                    <input type="checkbox" id="chemistry" name="interests[]" value="Chemistry">
                    <label for="chemistry">Chemistry</label><br>

                    <input type="checkbox" id="physics" name="interests[]" value="Physics">
                    <label for="physics">Physics</label><br>
                </div>
                <div class="interests-column">
                    <input type="checkbox" id="astronomy" name="interests[]" value="Astronomy">
                    <label for="astronomy">Astronomy</label><br>

                    <input type="checkbox" id="biology" name="interests[]" value="Biology">
                    <label for="biology">Biology</label><br>

                    <input type="checkbox" id="history" name="interests[]" value="History">
                    <label for="history">History</label><br>

                    <input type="checkbox" id="geography" name="interests[]" value="Geography">
                    <label for="geography">Geography</label><br>

                    <input type="checkbox" id="economics" name="interests[]" value="Economics">
                    <label for="economics">Economics</label><br>

                    <input type="checkbox" id="psychology" name="interests[]" value="Psychology">
                    <label for="psychology">Psychology</label><br>

                    <input type="checkbox" id="sociology" name="interests[]" value="Sociology">
                    <label for="sociology">Sociology</label><br>

                    <input type="checkbox" id="anthropology" name="interests[]" value="Anthropology">
                    <label for="anthropology">Anthropology</label><br>

                    <input type="checkbox" id="philosophy" name="interests[]" value="Philosophy">
                    <label for="philosophy">Philosophy</label><br>

                    <input type="checkbox" id="architecture" name="interests[]" value="Architecture">
                    <label for="architecture">Architecture</label><br>
                </div>
            </div>
        </div>

        <div>
            <label style="background-color: antiquewhite;" for="decision_making_style">Decision Making
                Style:</label>
            <input type="text" id="decision_making_style" name="mindset[decision_making_style]">
        </div>

        <div>
            <label style="background-color: antiquewhite;" for="career_expectations">Career Expectations:</label>
            <input type="text" id="career_expectations" name="mindset[career_expectations]">
        </div>

        <div>
            <label style="background-color: antiquewhite;" for="reqd">Number of Options Required:</label>
            <input type="number" id="reqd" name="reqd" min="0">
        </div>


        <button type="submit">Submit</button>
    </form>
</body>

</html>